body {
    background-color: #ffffff;
    background-attachment: fixed;
    color: whitesmoke;

    margin: 0;
    font-size: 16px;
    font-weight: normal;
    font-family: monospace, 'Courier New', Courier;
}

* {
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: #b12020;
    transition: .5s ease;
  }

a:hover {
    color: #e52626;
  }

/* nav */
nav {
    background-color: #272424;
    padding: 10px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav * {
    margin-right: 10px;
}

nav .help {
    margin-left: auto;
}


nav img {
    margin-left: 1%;
    margin-right: 1%;
    filter: invert();
    cursor: pointer;
    transition: .5s ease;
}

nav img:hover {
    filter:none;
    content: url("logo_h_clr.png");
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 2%;
}


/* title */
.title {
    margin-top: 1%;
}

header {
    background-image: url("Самокат-фон-1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 570px;
    justify-content: space-around;
    padding: 2%;
    height: 570px;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    color: black !important;
    z-index: -1;
    position: relative;
}

.header_title {
    position: fixed;
    top: 15%;
    /* left: 0%; */
    z-index: 0;
}

header h1 {
    margin-bottom: 0%;
    font-size: 750%;
    text-shadow: 5px 5px 5px gray; 
}

header h4 {
    margin-top: 0%;
    font-style: italic;
    font-size: 200%;
}


/* grid */
.grid {
    display: grid;
    margin-top: 0%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 6vw);
    grid-gap: 20px;
    padding: 5%;
    background-color: #242427;
    background-attachment: fixed;
    z-index: 4;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid figure {
    margin: 0;
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
}

.grid .g5 img {
    width: auto;
    align-content: center;
}

.grid figcaption {
    position: absolute;
    top: 5%;
    left: 5%;
    color: #ad2121;
    font-size: 180%;
    font-weight: 500;
}

.grid .g1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.grid .g2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

.grid .g3 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
}

.grid .g4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
}

.grid .g5 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 9;
}


/* .block_3 */

.block_3 {
    background-color: aliceblue;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

@media screen and (max-width: 600px) {
    .block_3 {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        height: 800px
    }
}

.arenda {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    width: auto;
    background-color: #ad2121;
    color: whitesmoke;
    border-radius: 30px;
}


/* guide */
.guide {
    border-radius: 30px;
    background-color: #ad2121;
    color: whitesmoke;
    padding: 3%;
    display: block;
    position: relative;
    z-index: 2;
    width: fit-content;
}

#btn:checked ~ .guide {
    animation: move 2s forwards;
}

#btn:checked ~ .guide .lp {
    position: unset;
}

.guide > span {
    font-weight: 600;
    font-size: large;
    display: block;
}

#btn {
    display: none;
}

@keyframes move {
    from {
        margin: 0 50% 0 0;
        height: 52px;
    }
    to {
        margin: 0 0 0 0;
        height: 100%;
    }
}

.guide .lp {
    top: 60px;
    z-index: -2;
    position: absolute;
}

.guide p {
    color: whitesmoke;
    margin: 0;
}

.button:checked ~ .guide .lp .p1 {
    margin-top: 0;
    padding-top: 0;
    opacity: 1;
    transition: opacity 1s;
}

.button:checked ~ .guide .lp .p2 {
    opacity: 1;
    transition: opacity 2s;
}

.button:checked ~ .guide .lp .p3 {
    opacity: 1;
    transition: opacity 3s;
}

.button:checked ~ .guide .lp .p4 {
    opacity: 1;
    transition: opacity 4s;
}

.guide .p1, .guide .p2, .guide .p3, .guide .p4 {
    margin-top: 16px;
    opacity: 0;
}


/* faq */
.faq {
    background-color: #242427;
    padding-left: 3%;
    padding-bottom: 3%;
    margin: 0%;
    position: relative;
    z-index: 4;
}

.faq a {
    text-decoration: none;
    color: rgb(182, 30, 30);
}

.faq h1 {
    margin: 0%;
    padding: 2% 0%;
}

.faq label {
    font-size: large;
    text-decoration-line: underline;
}

.faq p {
    height: 0px;
    overflow: hidden;
    font-size: large;
    font-family: 'monospace';

}

.faq input {
    display: none;
}

@keyframes faq_move_open {
    from {
        height: 0px;
        overflow: hidden;
    }
    to {
        height: 25px;
        overflow: visible;
    }
}

@keyframes faq_move_closed {
    from {
        height: 25px;
        overflow: visible;
    }
    to {
        height: 0px;
        overflow: hidden;
    }
}

.faq #q1:checked ~ .q1 {
    animation: faq_move_open 1s forwards;
}

.faq #q1:not(:checked) ~ .q1 {
    animation: faq_move_closed 1s forwards;
}

.faq #q2:checked ~ .q2 {
    animation: faq_move_open 1s forwards;
}

.faq #q2:not(:checked) ~ .q2 {
    animation: faq_move_closed 1s forwards;
}

.faq #q3:checked ~ .q3 {
    animation: faq_move_open 1s forwards;
}

.faq #q3:not(:checked) ~ .q3 {
    animation: faq_move_closed 1s forwards;
}

.faq #q4:checked ~ .q4 {
    animation: faq_move_open 1s forwards;
}

.faq #q4:not(:checked) ~ .q4 {
    animation: faq_move_closed 1s forwards;
}

.faq #q5:checked ~ .q5 {
    animation: faq_move_open 1s forwards;
}

.faq #q5:not(:checked) ~ .q5 {
    animation: faq_move_closed 1s forwards;
}


/* footer */
footer {
    background-color: #161618;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 45%;
    margin: 0%;
}

footer .cp {
    justify-self: center !important;
}





@media screen and (max-width: 425px) {
    
    header {
        background-size: 100vw 200px;
        background-position: 0 10%;
        height: 220px;
    }

    .header_title {
        position: fixed;
        top: 8%;
        z-index: 0;
        margin-top: 8vw;
    }
    
    header h1 {
        margin-bottom: 0%;
        font-size: 10vw;
        text-shadow: 5px 5px 5px gray; 
    }

    header h4{
        margin-top: 0%;
        font-style: italic;
        font-size: 3vw;
    }

    .block_3 {
        flex-direction: column;
        padding-right: 7%;
        height: fit-content;
        transition: all 1s;
    }

    .arenda {
        width: 100%;
    }

    .guide {
        margin-top: 3vw;
        margin-left: 0%;
    }

    .guide span {
        text-decoration-line: underline;
    }

    .guide label {
        padding-left: 3vw;
    }

    .guide .lp {
        width: 85vw;
    }

    @keyframes move {
        from {
            margin: 0 0% 0 0;
            width: 200px;
            height: 52px;
        }
        to {
            margin: 0 0 0 0;
            width: 100%;
            height: 100%;
        }
    }

    footer {
        background-color: #161618;
        padding: 2% 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2%;
    }

    .faq #q1:checked ~ .q1 {
        animation: faq_move_open1 1s forwards;
    }
    
    .faq #q1:not(:checked) ~ .q1 {
        animation: faq_move_closed1 1s forwards;
    }
    
    .faq #q2:checked ~ .q2 {
        animation: faq_move_open1 1s forwards;
    }
    
    .faq #q2:not(:checked) ~ .q2 {
        animation: faq_move_closed1 1s forwards;
    }

    @keyframes faq_move_open {
        from {
            height: 0px;
            overflow: hidden;
        }
        to {
            height: 20vh;
            overflow: visible;
        }
    }
    
    @keyframes faq_move_closed {
        from {
            height: 20vh;
            overflow: visible;
        }
        to {
            height: 0px;
            overflow: hidden;
        }
    }
    
    @keyframes faq_move_open1 {
        from {
            height: 0px;
            overflow: hidden;
        }
        to {
            height: 14vh;
            overflow: visible;
        }
    }

    @keyframes faq_move_closed1 {
        from {
            height: 14vh;
            overflow: visible;
        }
        to {
            height: 0px;
            overflow: hidden;
        }
    }
}