body {
    background-color:#242427;
    background-attachment: fixed;
    color: whitesmoke;
    
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    font-family: monospace,'Courier New', Courier;
}


/* nav */
nav {
    background-color:#ad2121;
    padding: 10px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;

}

nav * {
    margin-right: 20px;
}

nav img{
    margin-left: 1%;
    margin-right: 3%;
    filter:invert() ;
}

nav a {
    text-decoration: none;
    color:whitesmoke;
}


/* title */
.title {
    margin-top: 1%;
}

header {
    /* border: 2px solid black; */
    background-image: url("Самокат-фон-1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: cover; */
    /* display: flex; */
    justify-content: space-around;
    padding: 2%;
    padding-top: 2%;
    padding-bottom: 12%;
    height: 270px;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    color: black;  
    z-index: -1;
    position: relative;
}

.header_title {
    position: fixed;
    top: 15%;
    /* left: 0%; */
    z-index: 0;
}

header img {
    z-index: -100;
}

header h1{
    margin-bottom: 0%;
    font-size: 750%;
    text-shadow: 5px 5px 5px gray;
    
}

header h4{
    margin-top: 0%;
    font-style: italic;
    font-size: 200%;
}



/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,6vw);
    grid-gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #242427;
    background-attachment: fixed;
    padding-top: 5%;
    padding-bottom: 5%;
    z-index: 4;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid figure {
    margin: 0;
    position: relative;
    background-image: url("Фиолетовый фон.jpg");
    border-radius: 20px;
}

.grid figcaption{
    position: absolute;
    top: 5%;
    left: 5%;
    color: whitesmoke;
    font-size: 180%;
    font-weight: 500;
}

.grid .g1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.grid .g2 {
    grid-column-start: 5 ;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

.grid .g3 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
}

.grid .g4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
}

.grid .g5 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 9;
}



/* .block_3 */

.block_3 {
    background-color:aliceblue;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.arenda {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    width: 50%;
    background-color: #ad2121;
    color: whitesmoke;
    border-radius: 30px;
}


/* guide */
.guide {
    color: black;
    margin-left: 5%;
    width: 40%;
    position: relative;
}

.guide label {
    background-color: #ad2121;
    font-size: large;
    font-weight: 600;
    color: whitesmoke;
    width: fit-content;
    padding: 3%;
    border-radius: 30px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 2;
}

.guide .button {
    display: none;
}

.guide .button:checked~label {
    animation: move 2s;
    animation-fill-mode: forwards;
}

@keyframes move {
    from {padding-right: 0%;}
    to {padding-right: 60%;}
    from {padding-bottom: 0%;}
    to {padding-bottom: 40%;}
}

.guide .lp {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 60px;
    left: 2%;
    z-index: 4;
    /* border: 2px solid black; */
}

.guide p {
    color: whitesmoke;
    /* background-color: #ad2121; */
    padding: 2%;
    margin: 0;
}

.guide .button:checked ~ .lp .p1{
    margin-top: 0%;
    padding-top: 0%;
    opacity: 1;
    transition: opacity 1s;
}

.guide .button:checked ~ .lp .p2 {
    opacity: 1;
    transition: opacity 2s;
}

.guide .button:checked ~ .lp .p3 {
    opacity: 1;
    transition: opacity 3s;
}

.guide .button:checked ~ .lp .p4 {
    opacity: 1;
    transition: opacity 4s;
}

.guide .p1 {
    opacity: 0;
}

.guide .p2 {
    opacity: 0;
}

.guide .p3 {
    opacity: 0;
}

.guide .p4 {
    opacity: 0;
}

@media (max-width:425px) {
    .block_3 {flex-direction: column;}
}



/* faq */
.faq {
    background-color: #242427;
    padding-left: 3%;
}


.faq p {
    height: 0px;
    overflow: hidden;
    
}

.faq input {
    display: none;
}

.faq #q1:checked~.q1 {
    animation: faq_move_open 1s forwards;
}
@keyframes faq_move_open {
    from {height: 0px; overflow: hidden;}
    to {height: 25px; overflow: visible;}
}

.faq #q1:not(:checked)~.q1 {
    animation: faq_move_closed 1s forwards;
}
@keyframes faq_move_closed {
    from {height: 25px; overflow: visible;}
    to {height: 0px; overflow: hidden;}
}


.faq #q2:checked~.q2 {
    animation: faq_move_open 1s forwards;
}
@keyframes faq_move_open {
    from {height: 0px; overflow: hidden;}
    to {height: 25px; overflow: visible;}
}

.faq #q2:not(:checked)~.q2 {
    animation: faq_move_closed 1s forwards;
}
@keyframes faq_move_closed {
    from {height: 25px; overflow: visible;}
    to {height: 0px; overflow: hidden;}
}


.faq #q3:checked~.q3 {
    animation: faq_move_open 1s forwards;
}
@keyframes faq_move_open {
    from {height: 0px; overflow: hidden;}
    to {height: 25px; overflow: visible;}
}

.faq #q3:not(:checked)~.q3 {
    animation: faq_move_closed 1s forwards;
}
@keyframes faq_move_closed {
    from {height: 25px; overflow: visible;}
    to {height: 0px; overflow: hidden;}
}


.faq #q4:checked~.q4 {
    animation: faq_move_open 1s forwards;
}
@keyframes faq_move_open {
    from {height: 0px; overflow: hidden;}
    to {height: 25px; overflow: visible;}
}

.faq #q4:not(:checked)~.q4 {
    animation: faq_move_closed 1s forwards;
}
@keyframes faq_move_closed {
    from {height: 25px; overflow: visible;}
    to {height: 0px; overflow: hidden;}
}


.faq #q5:checked~.q5 {
    animation: faq_move_open 1s forwards;
}
@keyframes faq_move_open {
    from {height: 0px; overflow: hidden;}
    to {height: 25px; overflow: visible;}
}

.faq #q5:not(:checked)~.q5 {
    animation: faq_move_closed 1s forwards;
}
@keyframes faq_move_closed {
    from {height: 25px; overflow: visible;}
    to {height: 0px; overflow: hidden;}
}


